<main>
    <h1>Lista de Productos</h1>
    {{#if user}}
    {{#if (eq user.role "admin")}}
    <form action="/createProducts" method="GET">
    {{log user}}
        <button type="submit">Crear Producto</button>
    </form>
    {{/if}}
    {{else}}
    <p>No has iniciado sesión.</p>
    {{/if}}
    <section>
        {{#each products}}
        <h3>{{this.title}}</h3>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Categoría: {{this.category}}</p>

        {{#if ../user}}
        {{#if (eq ../user.role "user")}}
        <button>Agregar al carrito</button>
        <button>Información</button>
        {{else if (eq ../user.role "admin")}}
        <form action="/updateProduct" method="GET">
            <button type="submit">Actualizar Producto</button>
        </form>
        <button onclick="deleteProduct('{{this.id}}')">Eliminar Producto</button>
        <button>Información</button>
        {{/if}}
        {{else}}
        <p>No has iniciado sesión.</p>
        {{/if}}
        {{/each}}

    </section>
</main>